{
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "@babel/eslint-parser",
    "rules": { "no-unused-vars": "warn" },
    "extends": ["eslint:recommended", "plugin:react/recommended"]
}